@import '@/scss/vars.scss';
.filter {
  max-width: 100%;
  background-color: rgb(255, 255, 255, 0.6);
  margin: 30px auto;
  border-radius: 10px;
  padding: 1px 10px;
  text-align: center;
  box-shadow: $shadow;
  & h2 {
    color: #413f3f;
  }
  &-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  & button {
    background-color: $color-white;
    padding: 5px 5px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 15px;
    min-height: 20px;
    margin-bottom: 10px;
    box-shadow: $shadowBtn;

    &.active {
      background: rgb(190, 5, 164);
      background: linear-gradient(
        90deg,
        rgba(190, 5, 164, 1) 1%,
        rgba(63, 65, 181, 1) 89%
      );
      color: $color-white;
      cursor: no-drop;
    }
    & img {
      display: block;
      width: 40px;
      height: 40px;
      margin: 0 auto;
    }
  }
}
