@media (max-width: 1100px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    min-width: 100%;
    &-inner {
      min-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap-reverse;
      margin-bottom: 50px;
    }
  }
  .form {
    margin-top: 0;
    width: 40%;
  }
  .filter {
    margin: 0;
    max-width: 50%;
  }
  .content {
    width: 100%;
  }
  .employee-list__item {
    max-width: 100%;
    padding: 10px 5px;
  }
  .search {
    width: 100%;
  }
}

@media (max-width: 974px) {
  body {
    overflow-y: auto;
  }
  .sidebar {
    &-inner {
      justify-content: center;
    }
    .filter {
      margin: 20px 0 0 0;
      max-width: 100%;
    }
  }
  .widget {
    min-width: 100%;
    &-inner {
      min-width: 100%;
    }
  }
}

@media (max-width: 530px) {
  .container {
    padding: 0;
  }
  .form {
    min-width: 100%;
    padding: 8px 20px;
  }
  .showMoreInfo {
    &-inner {
      max-width: 100%;
      padding: 10px 20px;
    }
  }
}
