@media (max-width: 1173px) {
  body {
    overflow-y: auto;
  }

  .container {
    flex-direction: column;
  }
  .sidebar {
    min-width: 100%;
    margin-bottom: 50px;
    border-radius: 20px;
    &-inner {
      height: auto;
      min-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap-reverse;
    }
    .filter {
      margin: 20px 0 0 0;
      min-width: 100%;
    }
    .form {
      margin-top: 0;
      width: 40%;
    }
    .widget {
      min-width: 100%;
      margin-bottom: 20px;
      &-inner {
        min-width: 100%;
      }
    }
    .search {
      width: 100%;
    }
  }
  .content {
    border-radius: 20px;
    width: 100%;
    height: auto;
    .employee-list__item {
      max-width: 100%;
      padding: 10px 5px;
    }
    .employee-list {
      height: auto;
    }
  }
}

@media (max-width: 974px) {
  body {
    overflow-y: auto;
  }
  .sidebar {
    &-inner {
      justify-content: center;
    }
  }
}

@media (max-width: 530px) {
  .container {
    padding: 0;
  }
  .form {
    min-width: 100%;
    padding: 8px 20px;
  }
  .showMoreInfo {
    &-inner {
      max-width: 100%;
      padding: 10px 20px;
    }
  }
}
